.field{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2em 0 !important;
    color: #ffffff;
}
.field label{
    position: absolute;
    top: 22%;
    left: 18px;
    font-weight: 600;
    opacity: .67 !important;
    
    z-index: 0;
    font-size: 16px;
    color: #ffffff;

}

.field input{
    width: 350px;
    padding: 2.4em 18px 16px 18px;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,.3);
    font-size: 20px;
    background: transparent;
    color: #ffffff;
}

.field input:focus{
    outline: none;
    border: 1px solid #4d87fa;
}
.field input:focus ~ label{
    
    color: #ffffff !important;
    
}
.form .btn-group{
    display: flex;
    flex-direction: column;
}
.form .btn-group button{
    background: #3041E2;
    color: #ffffff;
    padding: 1em;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.form .btn-group p{
    color: #ffffff;
    margin-top: 2em;
    text-align: center;
}
.form .btn-group a{
    margin-left: .5em;
    text-decoration: underline;
    color: #aaa;
    text-align: center;
}