@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    outline: none;

}
@font-face{
    font-family: 'Google';
    font-weight: 400;
    src: url('../fonts/GoogleSans-Regular.ttf');
}

@font-face{
    font-family: 'Google';
    font-weight: 600;
    src: url('../fonts/GoogleSans-Medium.ttf');
}
@font-face{
    font-family: 'Google';
    font-weight: 700;
    src: url('../fonts/GoogleSans-Bold.ttf');
}
html{
    overflow-y: scroll !important;
}