@import url('./Rules.css');

.sidebar-component{
    width: 100vw;
    height: 96px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    align-items: center;
    padding: 0 64px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.sidebar-component .logo h1{
    color: #ffffff;
    font-family: 'Google';
}


.sidebar-component .avatar img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.sidebar-component .nav-items{
    display: flex;
}
.sidebar-component .nav-items a{
    margin: 0 16px;
}